<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <header>
          <h1><%= title %></h1>
          <ul class="type" id='typeList'>
              <li data-type="dot">Dot</li>
              <li data-type="column" class="selected">Column</li>
              <li data-type="3D">3D</li>
          </ul>
          <p>
              <label>Volume <input id="volume" type="range" name="" value="60" min="0" max="100"></label>
          </p>
      </header>
      <div class="left">
          <ul id="list">
             <% music.forEach(function(name){%>
                <li title='<%= name %>'><%= name %></li>
             <%})%>
          </ul>
      </div>
      <div class="right" id="box">
        <img class='loading' src="images/loading.gif">
      </div>

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/three.min.js"></script>
    <script type="text/javascript" src="/javascripts/MusicVisualizer.js"></script>
    <script type="text/javascript" src="/javascripts/OrbitControls.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>

    <script>
     // var scene = new THREE.Scene();
     //    var camera = new THREE.PerspectiveCamera(75, window.innerWidth/window.innerHeight, 0.1, 1000);
     //    var renderer = new THREE.WebGLRenderer();
     //    renderer.setSize(1000, window.innerHeight);
     //    document.body.appendChild(renderer.domElement);
     //    var geometry = new THREE.CubeGeometry(1,1,1);
     //    var material = new THREE.MeshBasicMaterial({color: 0x00ff00});
     //    var cube = new THREE.Mesh(geometry, material); 
     //    cube.position.y = 0.5;
     //   cube.position.z = 0.5;
     //   camera.position.z = 8.5;
     //    scene.add(cube);
        

     //    // console.log(scene)
       
           

     //        renderer.render(scene, camera);
        
        </script>
    
  </body>
</html>